streamlit
gitpython
matplotlib
numpy
opencv-python
pillow
psutil  # system resources
PyYAML
requests
scipy
thop # FLOPs computation
torch # see https://pytorch.org/get-started/locally (recommended)
torchvision
tqdm
ultralytics # https://ultralytics.com
pandas
seaborn
packaging  
setuptools


# Extras ----------------------------------------------------------------------
# ipython  # interactive notebook
# mss  # screenshots
# albumentations>=1.0.3
# pycocotools>=2.0.6  # COCO mAP
